<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{cssFileName}}.css">
    <link rel="stylesheet" href="root.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">
</head>