.signup, .login {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(3, 129, 202);
}

.login {
    border-right: 1px solid white;
}

.signup form, .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup form input, .login form input {
    width: 340px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 10px;
    background: none;
    color: white;
}

.signup form input::placeholder, .login form input::placeholder {
    color: white;
    opacity: .7;
}

.signup form button, .login form button {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background: rgb(0, 214, 132);
    color: white;
    border-radius: 5px;
}